*{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    // font-family: 'Inter', sans-serif;
}

// body{
    
    
// }

#app {
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    font-weight: 400;
  }